version: '3'
services:
  gateway:
    image: bharatari/newshub_gateway
    environment:
    - NODE_ENV=production
    - PORT=80
    restart: always
    env_file: gateway.env
    ports:
    - "80:80"
    links:
    - events
    - server
    - redis

  server:
    image: bharatari/newshub_server
    environment:
    - NODE_ENV=production
    restart: always
    env_file: server.env
    links:
    - redis

  events:
    image: bharatari/newshub_events
    environment:
    - NODE_ENV=production
    restart: always
    env_file: events.env
    links:
    - redis
