version: '3'
services:
  gateway:
    build: .
    ports:
    - "8080:8080"
    links:
    - timesheet
    - postgres
    - redis
    environment:
    - PORT=8080
    env_file: .env

  server:
    build: ../Server
    ports:
    - "8081:8080"
    links:
    - timesheet
    - postgres
    - redis
    environment:
    - PORT=8080
    env_file: ../Server/.env

  timesheet:
    build: ../Services/newshub-timesheet/
    ports:
    - "8082:8080"
    env_file: ../Services/newshub-timesheet/.env
    environment:
    - PORT=8080
    links:
    - postgres
    - redis

  postgres:
    image: postgres
    environment:
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=postgres
    - POSTGRES_DB=newshub
    ports:
    - "7000:5432"
    volumes:
    - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis
    ports:
    - "6379:6379"

  rabbitmq:
    image: rabbitmq:3.5.3-management
    ports:
    - "5672:5672"
    - "15672:15672"

volumes:
  postgres-data: 
