version: '3.2'
services:
  gateway:
    ports:
    - "8080:80"
    environment:
    - PORT=80

  authentication:
    ports:
    - "8080"
    environment:
    - PORT=8080

  events:
    ports:
    - "8080"
    environment:
    - PORT=8080

  reservations:
    ports:
    - "8080"
    environment:
    - PORT=8080
  
  files:
    ports:
    - "8080"
    environment:
    - PORT=8080

  room_reservations:
    ports:
    - "8080"
    environment:
    - PORT=8080

  redis:
    image: redis
    ports:
    - "6379:6379"

  rabbitmq:
    image: rabbitmq:3.5.3-management
    ports:
    - "5672:5672"
    - "15672:15672"
